[submodule "cookbooks/application"]
	path = cookbooks/application
	url = git@github.com:iheartradio/application.git
[submodule "cookbooks/application_python"]
	path = cookbooks/application_python
	url = git@github.com:iheartradio/application_python.git
