[submodule "cookbooks/application"]
	path = cookbooks/application
	url = git@github.ihrint.com:OPS/application.git
	ignore = dirty
[submodule "cookbooks/application_python"]
	path = cookbooks/application_python
	url = git@github.ihrint.com:OPS/application_python.git
	ignore = dirty
[submodule "cookbooks/application_ruby"]
	path = cookbooks/application_ruby
	url = git@github.ihrint.com:OPS/application_ruby.git
	ignore = dirty
[submodule "cookbooks/application_php"]
	path = cookbooks/application_php
	url = git@github.ihrint.com:OPS/application_php.git
	ignore = dirty
[submodule "cookbooks/application_nginx"]
	path = cookbooks/application_nginx
	url = git@github.ihrint.com:OPS/application_nginx.git
	ignore = dirty
[submodule "cookbooks/application_java"]
	path = cookbooks/application_java
	url = git@github.ihrint.com:OPS/application_java.git
	ignore = dirty
[submodule "cookbooks/gunicorn"]
	path = cookbooks/gunicorn
	url = git@github.ihrint.com:OPS/gunicorn.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git@github.ihrint.com:OPS-QAC1/postgresql.git
[submodule "cookbooks/mongodb"]
	path = cookbooks/mongodb
	url = git@github.ihrint.com:OPS-QAC1/mongodb.git
[submodule "cookbooks/ingestion"]
	path = cookbooks/ingestion
	url = git@github.ihrint.com:OPS-QAC1/ingestion.git
[submodule "cookbooks/authorization"]
	path = cookbooks/authorization
	url = git@github.ihrint.com:OPS-QAC1/authorization.git
