.rake_test_cache
*.pem

# emacs stuff
*~
*.swp

/*.sublime*

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# Ignore submodules
cookbooks/application*
cookbooks/ark

# Vagrant files
.vagrant
