[submodule "cookbooks/application"]
	path = cookbooks/application
	url = git@github.com:iheartradio/application.git
[submodule "cookbooks/application_python"]
	path = cookbooks/application_python
	url = git@github.com:iheartradio/application_python.git
[submodule "cookbooks/application_ruby"]
	path = cookbooks/application_ruby
	url = git@github.com:iheartradio/application_ruby.git
[submodule "cookbooks/application_php"]
	path = cookbooks/application_php
	url = git@github.com:iheartradio/application_php.git
[submodule "cookbooks/application_nginx"]
	path = cookbooks/application_nginx
	url = git@github.com:iheartradio/application_nginx.git
[submodule "cookbooks/application_java"]
	path = cookbooks/application_java
	url = git@github.com:iheartradio/application_java.git
